@using homecloud.Models;

@{
    List<string>? files = ViewData["folderFiles"] as List<string>;
    List<string>? directories = ViewData["folderDirectories"] as List<string>;
    string email = ViewData["email"] as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <html lang="en"> 
            <head> 
                <meta charset="UTF-8"> 
                <h1>HomeCloud - @email</h1> 
                <table border="1">
                    <tr>
                        <th>Name</th>
                    </tr>
                @foreach (string directory in directories) {
                    <tr>
                        <td>@directory</td>
                    </tr>
                }
                @foreach (string file in files) {
                    <tr>
                        <td>@file</td>
                    </tr>
                }
                </table>
            </head> 
        </html>
    </body>
</html>

