@using homecloud.Models;

@{
    List<string>? files = ViewData["folderFiles"] as List<string>;
    List<string>? directories = ViewData["folderDirectories"] as List<string>;
    string email = ViewData["email"] as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <html lang="en"> 
            <head> 
                <meta charset="UTF-8"> 
                <h2>HomeCloud - @email</h2> 
                <table border="1" style="width:70%">
                    <tr>
                        <th style="width:3%">Select</th>
                        <th>Name</th>
                        <th style="width:20%">Actions</th>
                    </tr>
                @foreach (string directory in directories) {
                    <tr>
                        <td><input type="checkbox"></input></td>
                        <td>@directory</td>
                        <td><button>Delete</button><button>Rename</button></td>
                    </tr>
                }
                @foreach (string file in files) {
                    <tr>
                        <td><input type="checkbox"></input></td>
                        <td>@file</td>
                        <td><button>Delete</button><button>Rename</button></td>
                    </tr>
                }
                </table>
            </head> 
        </html>
    </body>
</html>

